#topbar {
  background-color: #562f5eff;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  height: min-content;
}
.nombre {
  color: white;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}
#logo {
  margin-left: 20px;
}
